.statusButtons {
    padding-top: 5px;
}

.burn {
    background-color: orange;
    width: 100px;
    height: 50px;
}

.regen {
    background-color: green;
 
    width: 100px;
    height: 50px;
}

.stagger {
    background-color: yellow;

    width: 100px;
    height: 50px;
}

.focus {
    background-color: lightpink;

    width: 100px;
    height: 50px;
}

.burnPressed {
    background-color: darkorange;
    border: solid 5px;
    width: 100px;
    height: 50px;
 
  

}

.regenPressed {
    background-color: darkgreen;
    border: solid 5px;
    width: 100px;
    height: 50px;
}

.staggerPressed {
    background-color: gold;
    border: solid 5px;
    width: 100px;
    height: 50px;
}

.focusPressed {
    background-color: rosybrown;
    border: solid 5px;
    width: 100px;
    height: 50px;

}

.centered {
    display: flex;
    align-items: center;
    justify-content: 'center';
    max-width: 100%;
    margin: 0 auto;
  }