body, html {
    height: 75%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
  }

.PMButtonDiv {
    display: flex;
    flex-direction: column;   
}

.PMButton {
    height: 26px;   
}